{% extends 'base_front.html.twig' %}

{% block body %}
<div class="dashboard-block">
    <h2 class="block-title">🗂️ Mes projets</h2>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.projectName }}</h5>
                        <p class="card-text">{{ project.projectDesc }}</p>
                        <a href="{{ path('front_project_show', {id: project.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun projet enregistré.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
