body {
  background-color: #2c2c2c;
  margin: 0;
  padding: 0;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
  max-width: 420px;
  width: 100%;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(17, 0, 255, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
}

#heading {
  text-align: center;
  margin: 1em;
  color: #fff;
  font-size: 1.4em;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;
}

.button1,
.button2,
.button3 {
  padding: 0.5em 1.2em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover,
.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 1em;
}

.button3:hover {
  background-color: red;
  color: white;
}

.button {
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: white;
  background: #212121;
  border-radius: 0.5em;
  border: none;
  outline: 0.1em solid #353535;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1em 0.4em rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    circle at bottom,
    rgba(50, 100, 180, 0.5) 10%,
    #212121 70%
  );
  outline: 0;
}
