/* ===== Kanban layout ===== */
.kanban-board-t {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.kanban-column-t {
    flex: 1 1 320px;
    background: #111827;
    border: 1px solid #1f2937;
    border-radius: 12px;
    padding: 12px;
}

.kanban-title-t {
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

/* ===== Task cards ===== */
.task-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.task-title {
    color: #111827;
}

.task-date {
    font-size: 0.85rem;
    color: #6b7280;
    font-weight: 500;
}

.task-actions {
  overflow: visible;
}

/* ===== Meta info ===== */
.meta-pill {
    display: inline-block;
    padding: 4px 10px;
    font-size: 0.75rem;
    color: #374151;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 999px;
    font-style: italic;
}

/* ===== Priority badge ===== */
.priority-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 600;
    background-color: #3b82f6;
    color: #fff;
}

/* ===== Status badge ===== */
.status-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 600;
    background-color: #10b981;
    color: #fff;
}

/* ===== Boutons glass ===== */
.btn-glass {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 12px;
  color: #0944e6;
  border: 2px solid #0944e6;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  text-decoration: none;
  z-index: 0;
}

.btn-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #0944e6;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-glass:hover::before {
  transform: scale(1); /* reste exactement à la taille du bouton */
}

.btn-glass:hover {
  color: #fff;
  transform: scale(1.05);
}


.btn-glass:active {
  scale: 1;
}