{{ form_start(form, {'attr': {'class': 'project-form needs-validation'}}) }}
    <div class="mb-3">
        {{ form_widget(form, {
            'attr': {
                'class': 'form-input'
            }
        }) }}
    </div>
    <button class="btn btn-sm btn-glass-project">
        <i class="bi bi-check-circle"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
