<form method="post" action="{{ path('app_th_delete', {'id': th.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" 
      class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ th.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
