<form method="post" action="{{ path('front_tasks_delete', {'id': task.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette tâche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn-glass">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>